/* styles.css */

/* Réinitialisation des styles par défaut du navigateur */
body, h1, ul, li {
  margin: 0;
  padding: 0;
}

/* Style du fond de page */
body {
  background-color: #f5f5f5; /* Couleur de fond pâle */
}

/* Style du header */
header {
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Style du champ de recherche */
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style des boutons de lettre */
.alphabet {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.letter-button {
  padding: 5px 10px; /* Ajuster le rembourrage vertical */
  font-size: 13px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 3px; /* Ajouter un espacement horizontal entre les boutons */
}

.letter-button:hover {
  background-color: #ddd;
}

/* Style du conteneur des résultats */
.results-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px; /* Arrondir les coins */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une ombre légère */
  width: 80%; /* Largeur des résultats */
  margin: 0 auto; /* Centrer horizontalement */
  margin-top: 20px; /* Ajuster l'espacement par rapport aux lettres */
  text-align: center; /* Centrer le contenu */
}

/* Style de la liste des résultats (tableau) */
ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Réinitialiser la marge */
}

/* Style des éléments de la liste (ligne de tableau) */
li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

/* Style de l'abréviation (premier côté) */
abbr {
  font-weight: bold;
}
