/* Styles par défaut pour les écrans larges */
body {
  background-color: #f5f5f5;
}

/* Styles pour les écrans larges (plus de 768px de large) */
@media (min-width: 768px) {
  header {
    padding: 20px;
  }

  #searchInput {
    width: 80%;
  }

  .alphabet {
    margin-top: 10px;
  }

  .alphabet .letter-button,
  .category-button,
  .type-button {
    margin: 0 3px;
  }

  .results-container {
    width: 70%;
    margin-top: 20px;
  }

  #resultsList {
    width: 70%;
  }

  .filter-column {
    margin-left: 200px;
    margin-right: 200px;
  }

  .type-filter {
    margin-right: 200px;
    margin-left: 200px;
  }
}

/* Styles pour les écrans moyens (entre 480px et 768px de large) */
@media (min-width: 480px) and (max-width: 768px) {
  header {
    padding: 10px;
    font-size: 18px;
  }

  #searchInput {
    width: 90%;
  }

  .alphabet {
    margin-top: 5px;
  }

  .alphabet .letter-button,
  .category-button,
  .type-button {
    margin: 0 2px;
    font-size: 12px;
  }

  .results-container {
    width: 90%;
    margin-top: 10px;
  }

  #resultsList {
    width: 90%;
  }

  .filter-column {
    margin-left: 20px;
    margin-right: 20px;
  }

  .type-filter {
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* Styles pour les écrans étroits (moins de 480px de large, comme les smartphones) */
@media (max-width: 480px) {
  header {
    padding: 5px;
    font-size: 16px;
  }

  #searchInput {
    width: 100%;
  }

  .alphabet {
    margin-top: 2px;
    flex-wrap: wrap;
  }

  .alphabet .letter-button,
  .category-button,
  .type-button {
    margin: 2px;
    font-size: 10px;
  }

  .results-container {
    width: 100%;
    margin-top: 5px;
  }

  #resultsList {
    width: 100%;
  }

  .filter-column {
    margin-left: 10px;
    margin-right: 10px;
  }

  .type-filter {
    margin-right: 10px;
    margin-left: 10px;
  }
}


/* Réinitialisation des styles par défaut du navigateur */
body, h1, ul, li {
  margin: 0;
  padding: 0;
}

/* Style du fond de page */
body {
  background-color: #f5f5f5; /* Couleur de fond pâle */
}

/* Style du header */
header {
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Style du champ de recherche */
#searchInput {
  display: block; /* Mettre en bloc pour que les marges fonctionnent */
  margin: 0 auto; /* Centrer horizontalement */
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style des boutons de lettre */
.alphabet {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.alphabet .letter-button,
.category-button,
.type-button {
  padding: 5px 10px; /* Ajuster le rembourrage vertical */
  font-size: 13px;
  background-color: white; /* Même couleur que les boutons de lettre */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 3px; /* Ajouter un espacement horizontal entre les boutons */
}

/* Ajouter le style pour la classe "active-filter" */
.letter-button.active,
.category-button.active,
.type-button.active,
.category-button.active-filter, /* Ajoutez cette règle pour les filtres de catégorie actifs */
.type-button.active-filter { /* Ajoutez cette règle pour les filtres de type actifs */
  background-color: #007BFF; /* Couleur différente lorsque le bouton est enfoncé */
  color: white; /* Couleur du texte */
  border-color: #007BFF; /* Couleur de la bordure */
}

.letter-button:hover,
.category-button:hover,
.type-button:hover {
  background-color: #ddd;
}

/* Style du conteneur des résultats */
.results-container {
  background-color: white;
  padding: 10px;
  border-radius: 10px; /* Arrondir les coins */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px -2px 4px rgba(0, 0, 0, 0.1);
  width: 70%; /* Largeur des résultats */
  margin: 0 auto; /* Centrer horizontalement */
  margin-top: 20px; /* Ajuster l'espacement par rapport aux lettres */
  text-align: center; /* Centrer le contenu */
}

#resultsList {
  list-style: none;
  padding: 0;
  margin: 0; /* Réinitialiser la marge *
  width: 70%; /* Largeur des résultats */
  margin: 0 auto; /* Centrer horizontalement */
}

/* Update the style of list items */
#resultsList li {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Center items vertically within the list item */
  padding: 25px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc; /* Ajouter une bordure à gauche */
  border-right: 1px solid #ccc;
  background-color: white;
  font-family: Arial, sans-serif; /* Changer la police */
}

#resultsList li:last-child {
  border-bottom: 1px solid #ccc; /* Ajouter la bordure en bas uniquement au dernier élément */
}

/* Update the style of the abbr (right side) */
#resultsList abbr {
  flex: 1; /* Allow the abbr to take available space */
  text-align: left; /* Align text to the right */
  margin-right: 10px; /* Add some spacing between abbr and p */
  font-size: x-large;
  font-weight: bold;
}

/* Update the style of the description (left side) */
#resultsList p {
  flex: 2; /* Allow the p to take more space */
  margin: 5px 0;
  color: black;
  font-style: italic;
  text-align: right;
  font-size: small;
}

/* Style des colonnes de filtre et de la liste des résultats */
.filters-and-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* Utiliser space-between pour espacer les colonnes */
  margin-top: 20px;
}

/* Style des colonnes de filtre */
.filter-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Retirez la largeur */
}

/* Style de la colonne du centre */
.center-column {
  width: 70%; /* Largeur de la colonne du centre */
  margin: 0 auto; /* Centrer horizontalement */
}

.category-filter h2 {
  margin-bottom: 10px;
  margin-left: 10px;
}

.type-filter h2 {
  margin-bottom: 10px;
  margin-left: 30px;
}

.category-filter { 
  margin-left: 200px; 
  margin-right: 200px; 
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.type-filter {
  margin-right: 200px; 
  margin-left: 200px; 
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Style des boutons de filtre dans les colonnes */
.filter-column .category-button,
.filter-column .type-button {
  margin: 5px;
  width: 120px; /* Ajustez la largeur des boutons selon vos préférences */
  padding: 10px; /* Ajustez le rembourrage des boutons selon vos préférences */
}
